* {
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

body {
    font-family: Kanit, Arial;
    margin: 0;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: linear-gradient(to bottom right, coral, red 10%, lightblue);
}

.title {
    color: white;
    margin: 0;
    flex: 1;
    
    font-size: 2.5rem;
    padding: 0.5rem 0;
}

header > nav {
    width: 100%;
}

.navbar {
    display: flex;
    list-style: none;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.6);
    margin: 0;
    padding: 0;
}

.navbar li {
    padding: 0.6rem 1.5rem;
    border-radius: 0.5rem;

    transition: background-color 0.15s, text-decoration 0.15s;
}

.navbar li:hover {
    background-color: rgba(255, 255, 255, 0.7);
    text-decoration: underline;
}

.current {
    background-color: rgba(255, 255, 255, 0.7);
}

.navbar li a {
    text-decoration: none;
    color: black;
    font-weight: 500;
}

.container{
    display: flex;
    justify-content: space-between;
}

.projects {
    flex: 1;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 100px;
    margin: 50px;
}

.project {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;

    border-radius: 10px;
    box-shadow: 0px 0px 20px rgba(200,200,200,0.7);
    transition: transform 0.5s, box-shadow 0.5s;
    cursor: pointer;
}

.project:hover {
    transform: scale(1.1);
    box-shadow: 0px 0px 20px rgba(255, 136, 92, 0.7);
}

.project-icon {
    width: 100px;
}

.project > p {
    margin-bottom: 0;
}

.contact{
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 0 20px;
}

.contact-form {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.text-box {
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(200,200,200,0.7);
    border: none;
    width: 250px;
    

    &:focus {
        box-shadow: 0 0 5px rgba(255, 136, 92, 0.7);
        outline: none;
    }
}

.updates-choice {
    display: flex;
    align-items: center;
    justify-content: center;

    input[type="checkbox"] {
        margin: 4px;
    }
}

.btn {
    background-image: linear-gradient(to right, purple,blue);
    color: white;
    font-weight: bold;
    font-size: 18px;
    padding: 8px 0;
    border: none;
    border-radius: 8px;
    cursor: pointer;

    transition: background-image 0.15s;

    &:hover {
        background-image: linear-gradient(to right, rgb(100, 0, 100),rgb(0,0,227));
    }
}

@media only screen and (max-width: 600px) {
    .container {
        flex-direction: column;
    }
    .projects {
        grid-template-columns: 1fr;
    }
    .contact {
        width: 100%;
    }
}