* {
    box-sizing: border-box;
}

body {
    margin: 0;
    margin: auto;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 50px;
    padding: 50px;
    justify-content: center;
    align-items: center;
}

img {
    width: 100%;
    height: auto;

    transition: transform 0.8s;
    border-radius: 10px;
}

img:hover {
    transform: scale(1.2);
}