* {
    font-size: large;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.navbar {
    background-color: black;
    width: 100%;
    border-radius: 15px;
    box-sizing: border-box;
}
.navbar ul{
    overflow: auto;
    list-style: none;
    padding: 0px 15px;
    margin: 12px 0px;
}
.navbar ul li {
    float: left;
    padding: 15px 25px;
    border-radius: 10px;
    margin: 0px;
}
.navbar ul li:hover {
    cursor:pointer;
}
.navbar ul li a {
    color: white;
    text-decoration: none;
    padding: 4px 5px;
}
.navbar ul li a:hover{
    background-color: gray;
    color:black;
    border-radius: 8px;
}